# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async

#### Naming styles ####

# Naming rules

dotnet_naming_rule.suffix_async_should_be_asyncsuffix.severity = error #suggestion
dotnet_naming_rule.suffix_async_should_be_asyncsuffix.symbols = suffix_async
dotnet_naming_rule.suffix_async_should_be_asyncsuffix.style = asyncsuffix

# Symbol specifications

dotnet_naming_symbols.suffix_async.applicable_kinds = method
dotnet_naming_symbols.suffix_async.applicable_accessibilities = *
dotnet_naming_symbols.suffix_async.required_modifiers = async

# Naming styles

dotnet_naming_style.asyncsuffix.required_prefix = 
dotnet_naming_style.asyncsuffix.required_suffix = Async
dotnet_naming_style.asyncsuffix.word_separator = 
dotnet_naming_style.asyncsuffix.capitalization = pascal_case